    * {
        margin: 0;
        padding: 0;
    }
    
    #current-level {
        text-align: center;
        width: 400px;
        height: 50px;
        margin: 0 auto;
        margin-top: 50px;
    }
    
    #color-container {
        width: 400px;
        height: 120px;
        outline: 2px solid black;
        margin: 0 auto;
    }
    
    .color{
        width: 100px;
        height: 100px;
        display: inline-block;
        margin-top: 10px;
        margin-left: 23px;
        outline: 1px solid black
    }

    .color-box{
        width: 100px;
        height: 100px;
        border-radius: 10px;
    }
    
    #red, .red {
        background-color: red;
    }
    
    #yellow, .yellow {
        background-color: yellow;
    }
    
    #blue, .blue {
        background-color: blue;
        }
    
    .grid {
        outline: 2px solid black;
        width: 400px;
        height: 400px;
        margin: 0 auto;
        margin-top: 20px;
    }
    
    .cell {
        outline: 2px solid black;
        width: 120px;
        height: 120px;
        display: inline-block;
        margin-left: 8px;
        margin-top: 8px;
    }

    .drop-target 
    {
        background-color: bisque;
        border: 2.5px solid goldenrod;
        width: 115px;
        height: 115px;
    }